@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.intra {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "miama";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Miama.ttf") format("truetype");
}

/* General Setting Start here */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: white;
}
body {
  width: 1366px;
  background-color: rgb(0, 0, 0);
}
/* General Setting Start here */
/* Shear Styles start from here */

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3,
h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

h1 {
  font-size: 4.9rem;
  margin: 1.75rem 0;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-align: left;
  /* margin: 1.75rem; */
}

.pripary-btn {
  width: 14rem;
  height: 3.38rem;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin: 0 1rem;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

ul > li {
  list-style-type: none;
}
ul > li > .links {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0.75rem;
}

/* Shear Styles ends from here */

/* BMI-Calculator style start from here */
.BMI-claculator {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  height: auto;
  background-color: rgb(33, 33, 33);
}
.bmi-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BMI-calculator-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bmi-chart,
.bmi-calculator-input {
  max-width: 680px;
  min-height: 450px;
}
.bmi-chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bmi-chart table,
.bmi-chart th,
.bmi-chart td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  padding: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-chart th {
  color: white;
  font-family: Inter;
  font-weight: 700;
}
.bmi-chart tr {
  max-width: 145px;
}
.bmi-calculator-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
form input[type="text"],
form select,
form option,
form .select-1 {
  border-radius: 5px;
  background-color: rgb(66, 66, 66);
  font-size: 1rem;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 24px;
  padding-left: 1rem;
  width: 43%;
  height: 40px;
  margin: 5px;
  border: none;
}

/* BMI-Calculator style ends from here */
