@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.intra {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "miama";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Miama.ttf") format("truetype");
}

/* General Setting Start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1360px;
  background-color: rgb(0, 0, 0);
  color: white;
}
/* General Setting Start here */
/* Shear Styles start from here */

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-align: left;
  /* margin: 1.75rem; */
}

.website-title {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.website-menu-font {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  /* line-height: 22px; */
  letter-spacing: 0%;
  text-align: left;
}
.header-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4.87rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.section-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.sub-section-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.pripary-btn {
  width: 14rem;
  height: 3.38rem;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin: 0 1rem;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

ul > li {
  list-style-type: none;
}
ul > li > .links {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0.75rem;
}

/* Shear Styles ends from here */

/* Header section start from here */

/* Nav bar */
.nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding-top: 52px;
  margin-bottom: 32px;
}

/* Menu Items */
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  height: 38px;
  box-sizing: border-box;
}

.menu ul .link {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  margin-right: 3rem;
  box-sizing: border-box;
}
ul .active {
  width: 92px;
  height: 38px;
  /* box-sizing: border-box; */
  width: 120px;
  height: auto;
  align-items: center;
  padding: 8px 20px 8px 20px;
  border-radius: 40px;
  background: rgb(230, 83, 60);
}

header {
  max-width: 1360px;
  min-height: 675px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.banner-box {
  max-width: 1150px;
  min-height: 580px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.banner-box .banner-left {
  width: 65%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.banner-text {
  margin: 28px auto;
}
.content-box {
  width: 600px;
  height: auto;
}
.button-box {
  width: 100%;
  display: flex;
}

.banner-box .banner-right {
  width: 35%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.box-500 {
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 125px;
  left: 250px;
}
.box-500-text {
  padding-left: 15px;
  padding-top: 17px;
}
.box-500-text p {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
}
.box-350 {
  width: 226px;
  height: 96px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  bottom: 63px;
  left: -103px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.box-350 .box-350-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
  margin-left: 28px;
}
.box-350 .box-350-right {
  width: 108px;
  height: 56px;
}
.box-350-right h2 {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
#vt {
  text-align: left;
  width: 108px;
  height: 24px;
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.shape {
  color: rgb(255, 255, 255);
  font-family: miama;
  font-size: 4.9rem;
}

.btn-header {
  background-color: black;
  border: 1px solid white;
}
.btn-banner-btn-2 {
  background-color: black;
  border: 1px solid white;
}
.button-box .pripary-btn {
  width: 224px;
  height: 54px;
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 2.5rem 1rem 2.5rem;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 14px;
}

/* Header section end from here */

main {
  margin-top: 95px;
}
/* Change your habit styling srart from here */
.havit-box {
  max-width: 1044px;
  min-height: 452px;
  margin: 0 auto;
}
.change-habit-content {
  display: flex;
  flex-direction: column;
  max-width: 671px;
  min-height: 120px;
  margin: 0 auto;
}
.change-habits-title,
.change-habit-description {
  text-align: center;
}
.change-habits-title {
  margin-bottom: 14px;
}
.change-habit-description {
  margin-bottom: 70px;
}

.habits-image-grid-box {
  max-width: 1044px;
  min-height: 274px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px;
}

/* Grid image box styling  */
.havit-image-grid-item {
  width: 231px;
  height: 274px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.grid-image-box {
  width: 180px;
  height: 180px;
}
.grid-image-box .grid-image {
  width: 100%;
  width: 100%;
  border-radius: 50%;
}
.grid-item-content {
  width: 231px;
  height: 64px;
}
.grid-item-content .image-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
/* Change your habits styling start from here */

/* Running Extra section styles ends from here  */
.run-extra-box {
  max-width: 1060px;
  min-height: 371px;
  background-color: rgb(33, 33, 33);
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  margin: 0 auto;
}

.content-box {
  width: 443px;
  height: 290px;
}
.run-extra-image {
  max-width: 366px;
  min-height: 312px;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.run-extra-title {
  font-size: 48px;
  margin-bottom: 40px;
}
.run-extra {
  margin-top: 80px;
}
.btn-run-extra {
  margin-top: 34px;
  margin-left: 0;
}

.run-extra-image {
  background-image: url("../images/runningv2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  margin: 20px;
  z-index: 1;
}

/* Running Extra Mile styling end from here */

/* Training and Exercises styles start from here */

.exercises-box {
  margin-top: 100px;
}
.exercises {
  max-width: 1060px;
  min-height: 581px;
  margin: 0 auto;
}
.exercises-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 58px;
}
.content {
  text-align: center;
}
.content h2 {
  margin-bottom: 14px;
}
.exercises-image-grid .row-1 {
  max-width: 1060px;
  display: grid;
  grid-template-columns: 0.8fr 2fr 1.2fr;
}
.exercises-image-grid .row-2 {
  max-width: 1060px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
}
.exercises-image-grid .box-1 {
  background-image: linear-gradient(rgba(6, 255, 210, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/exercise1.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
}
.exercises-image-grid .box-2 {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/exercise2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
}

.exercises-image-grid .box-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/exercise3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
}
.exercises-image-grid .box-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/exercise4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
}
.exercises-image-grid .box-5 {
  background-image: linear-gradient(rgba(66, 255, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/exercise5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
}
.exercises-image-grid .box-6 {
  background-image: linear-gradient(rgba(0, 71, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/exercise6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
}

/* Training and Exercises styles ends from here */

/* Meet our team section styling start from here */
.our-team {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-team-image-grid {
  max-width: 1060px;
  height: auto;
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
}

.grid-image-item {
  height: 255px;
  width: 310px;
}
.grid-image-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.our-team-image-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
/* Meet our team section styling end from here */

/* BIM Calculator style start from here */
.BMI-claculator {
  max-width: 1360px;
  border: 1px solid green;
  margin-top: 88px;
}
.bmi-calculator-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BMI-calculator-form {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 487px;
  background-color: rgb(34, 34, 34);
  border: 1px solid red;
}
.bmi-chart {
  width: 310px;
  height: 400px;
  border: 1px solid green;
}
.bmi-chart table {
  width: 310px;
  height: 216px;
  text-align: left;
}
.bmi-chart table,
.bmi-chart tr,
.bmi-chart td,
.bmi-chart th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

.bmi-calculator-input {
  max-width: 577px;
  min-height: 386px;
  border: 1px solid red;
}
/* BIM Calculator style start from here */
/* Footer Style start from here */
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.footer {
  max-width: 1000px;
  margin: 0 auto;
}
.footer-title {
  color: rgb(230, 83, 60);
}
.fitness,
.get-started {
  max-width: 33%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.copyright h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.get-started h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.get-started a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.36rem;
  font-weight: 400;
  /* line-height: 120%; */
  letter-spacing: 0%;
  text-align: left;
  margin: 1.18rem;
}
.footer-title {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 4.13rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

/* Footer Style ends from here */
